body {
  background-color: #030405;
  margin: 0;
  line-height: inherit;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: #f5ffff;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #bdffff;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #9eb1c5;
}

.encabezado {
  margin: 1rem;
  width: 50%;
  padding: 1.25rem;
}

.titulo {
  max-width: 25rem;
}

.subtitulo {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #9eb1c5;
}

.stack {
  margin: 1rem;
  width: 50%;
  padding: 1.25rem;
}

.proyectos {
  margin: 1rem;
  width: 50%;
  padding: 1.25rem;
}

.proyecto-element {
  background-color: #12181f;
  padding: 1.5rem;
  text-align: center;
  --borderWidth: 3px;
  border-radius: var(--borderWidth);
  position: relative;
  cursor: pointer;
}

.proyecto-element::after {
  content: "";
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: -1;
  border-radius: var(--borderWidth);
  opacity: 0;
  transition: opacity 0.3s ease; /* Transición suave */
  background: linear-gradient(
    60deg,
    #bdffff,
    #99ddf6,
    #8db9e6,
    #9491c7,
    #9b6999,
    #934460,
    #8db9e6,
    #99ddf6
  );
  background-size: 300% 300%;
  animation: neon 3s ease alternate infinite;
}

.proyecto-element:hover::after {
  opacity: 1; /* Hacer visible */
}

.proyecto-element h3 {
  transition: color 0.3s ease;
}
.proyecto-element:hover h3 {
  color: #bdffff;
}

.stack-element {
  background-color: #12181f;
  padding: 1.5rem;
  text-align: center;
  --borderWidth: 3px;
  border-radius: var(--borderWidth);
  position: relative;
  cursor: pointer;
}

/* Animación */
@keyframes neon {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

/* Pseudoelemento para crear el gradiente animado */
.stack-element::after {
  content: "";
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: -1;
  border-radius: var(--borderWidth);
  opacity: 0;
  transition: opacity 0.3s ease; /* Transición suave */
  background: linear-gradient(
    60deg,
    #bdffff,
    #99ddf6,
    #8db9e6,
    #9491c7,
    #9b6999,
    #934460,
    #8db9e6,
    #99ddf6
  );
  background-size: 300% 300%;
  animation: neon 3s ease alternate infinite;
}

.stack-element:hover::after {
  opacity: 1; /* Hacer visible */
}

.stack-img {
  width: 50px;
}

/* GRILLAS EN GENERAL */

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  place-content: space-evenly;
  gap: 1.25rem;
}

.ubuntu-mono-regular {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-mono-bold {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-mono-regular-italic {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-mono-bold-italic {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.col-span-4 {
  grid-column: span 4 / span 4;
}

/* MODALES PROYECTOS */

.modal-imagenes {
  width: auto;
}

a {
  color: #99ddf6;
}

.modal-imagenes img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding-top: 1.5rem;
}

dialog::backdrop {
  background-color: #e6ffff31;
}

dialog {
  max-width: 75%;
  min-width: 75%;
  min-height: 75%;
  max-height: 75%;
  border: hidden;
  border-radius: 10px;
  background-color: #12181f;
  color: #faffff;
}

dialog > div {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.header-modal {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.modal-content {
  max-height: calc(60vh - 2rem);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  overflow-y: auto;
}

.titulo-link {
  display: flex;
}

.boton-ir {
  border-radius: 9999px;
  margin-left: 1rem;
  border: none;
  background-color: #ffffff00;
  color: #bdffff;
}

.boton-ir:hover {
  cursor: pointer;
  background-color: #ffffff20;
}

.boton-cerrar {
  align-self: flex-end;
  border-radius: 9999px;
  border: none;
  background-color: #ffffff00;
}

.boton-cerrar img {
  filter: invert(98%) sepia(98%) saturate(232%) hue-rotate(121deg)
    brightness(106%) contrast(106%);
}

.boton-cerrar:hover {
  cursor: pointer;
}

.boton-cerrar:hover img {
  filter: invert(79%) sepia(18%) saturate(343%) hue-rotate(170deg)
    brightness(88%) contrast(83%);
}

.texto-modal {
  color: #faffff;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* Estilo del scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
}

/* Estilo del thumb (la parte que se arrastra) */
::-webkit-scrollbar-thumb {
  background-color: #9eb1c5; /* Color del thumb */
  border-radius: 4px; /* Bordes redondeados */
}

/* Estilo de la pista (la parte detrás del thumb) */
::-webkit-scrollbar-track {
  background-color: #030405; /* Color de la pista */
  border-radius: 4px;
}

/* Estilo del thumb cuando se desplaza */
::-webkit-scrollbar-thumb:hover {
  background-color: #bdffff; /* Cambiar color al pasar el mouse sobre el thumb */
}

/* Estilo del thumb cuando está presionado */
::-webkit-scrollbar-thumb:active {
  background-color: #f5ffff; /* Cambiar color al hacer clic en el thumb */
}

/* FOOTER */
.footer {
  margin: 1rem;
  width: 50%;
  padding: 1.25rem;
}

.footer-element {
  background-color: #12181f;
  --borderWidth: 3px;
  border-radius: var(--borderWidth);
  text-align: center;
  padding: 1.5rem;
  position: relative;
}

.footer-element::after {
  content: "";
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: -1;
  border-radius: var(--borderWidth);
  opacity: 0;
  transition: opacity 0.3s ease; /* Transición suave */
  background: linear-gradient(
    60deg,
    #bdffff,
    #99ddf6,
    #8db9e6,
    #9491c7,
    #9b6999,
    #934460,
    #8db9e6,
    #99ddf6
  );
  background-size: 300% 300%;
  animation: neon 3s ease alternate infinite;
}

.footer-element:hover::after {
  opacity: 1;
}

.footer-element a {
  margin-left: 3px;
  margin-right: 3px;
}

#email {
  cursor: pointer;
}

/* SNACKBAR */
.snackbar.show {
  visibility: visible;
}

/* RESPONSIVIDAD */
@media screen and (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .stack-img {
    width: 30px;
  }
}

.snackbar {
  visibility: hidden;
  min-width: 250px;
  background-color: #12181f;
  color: #f5ffff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 6px #00000080;
}
